@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 20vh;
    background-color: rgba(23, 23, 23, 0.8);
    bottom: 0;
    align-items: center;
}

.header {
    position: relative;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.8rem;
    margin: 0.6vh;
    font-weight: 200;
    color: white;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80%;
}

.option {
    background-color: #dc143c;
    color: white;
    border-radius: 0.2rem;
    height: 50%;
    min-width: 200px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 200ms;
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 30% 2%, 10% 1%, 30% 5%, 34% 1%, 39% 4%, 43% 5%, 50% 6%, 50% 7%, 53% 3%, 58% 6%, 61% 9%, 68% 4%, 74% 7%, 78% 9%, 84% 5%, 105% 9%, 95% 16%, 98% 19%, 99% 27%, 99% 3%, 96% 45%, 96% 50%, 97% 57%, 97% 61%, 96% 69%, 99% 82%, 95% 88%, 94% 93%, 97% 98%, 82% 99%, 81% 94%, 74% 91%, 61% 96%, 54% 97%, 50% 93%, 35% 99%, 34% 90%, 31% 90%, 15% 94%, 14% 93%, 9% 88%, 1% 90%, 6% 90%, 0% 57%, 2% 45%, 3% 43%, 2% 10%, 9% 20%, 2% 15%, 3% 13%);

}

.option:hover {
    box-shadow: black 0 0 10px;
    cursor: pointer;
}