body {
 user-select: none;
 overflow: hidden;
 font-family: 'Lato', sans-serif;
}

.main-control-panel-container {
 position: absolute;
 right: -45vh;
 top: 20vh;
}

.control-panel-container {
  position: absolute;
  right: -45vh;
  top: 25vh;
 width: 40vh;
 height: 13vh;
 /* border-radius: .3vh; */
 /* background-color: #658691; */
 /* border: .3vh solid black; */
}

.control-panel-mini {
 position: absolute;
 top: 25vh;
 right: 1.5vh;
 width: 5vh;
 height: 25.2vh;
 background-color: transparant;
}

.control-panel-name {
 position: absolute;
 font-size: 0.9vh;
 font-weight: 600;
 color: white;
 top: 2.5vh;
 left: 1.6vh;
}

.control-panel-maker {
 position: absolute;
 font-size: 0.9vh;
 font-weight: 600;
 color: white;
 bottom: 1vh;
 right: 3vh;
}

.control-panel-name > img {
 position: absolute;
 top: -1vh;
 height: 3vh;
 width: 3vh;
}

.control-panel-desc {
 position: absolute;
 font-size: 0.9vh;
 font-weight: 600;
 color: white;
 top: 11.5vh;
 left: 1.6vh;
}

.control-panel-ball {
 position: absolute;
 bottom: .5vh;
 right: .5vh;
 width: 1.8vh;
 height: 1.8vh;
 /* border-radius: 50%; */
 /* background-color: rgb(46, 46, 46); */
}

/* Buttons */

.button {
  /* display: block; */
 position: block;
 float: left;
 margin-right: 1vh;
 width: 4vh;
 height: 4vh;
 top: .6vh;
 left: 0.5vh;
 margin: 14px 0;
 transform: rotate(-0.1turn);
 background-color: rgba(39,36,36,1);
 /* border: 2px solid white; */
 /* border-radius: 7px; */
 box-shadow:0 0 10px white;
/* 
 border-style: solid;
 border-width: 2px;
 border-color: white; */
 /* background: radial-gradient(square, #222831 0%, rgba(30,30,30,1) 52%, rgba(92,92,92,0) 52%, rgba(255,255,255,0) 100%); */
}

.button > img {
  position: absolute;
  width: 2.7vh;
  height: 2.7vh;
  left: .6vh;
  top: .7vh;
  transform: rotate(+0.1turn);
}

.button:hover {
 opacity: 0.8;
}