body {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
    /* background: grey; */
}

.main-context-container {
    position: absolute;
    display: none;
    top: 20vh;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.inside-context {
    position: absolute;
    right: 40vh;
    width: 17vw;
    height: 55vh;
    display: flow-root;
}
.leftmenu {
    float: center;
}
.leftmenu > i {
    float: center;
}
.context-menu-item {
    position: relative;
    width: 95%;
    height: fit-content;
    border-radius: .9vh;
    background-color: black;
    text-align: center;
    /* left: 1.5vw; */
    /* background-color: #222831;  */
    border: 2px solid rgb(29, 29, 29);
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 30% 2%, 10% 1%, 30% 5%, 34% 1%, 39% 4%, 43% 5%, 50% 6%, 50% 7%, 53% 3%, 58% 6%, 61% 9%, 68% 4%, 74% 7%, 78% 9%, 84% 5%, 105% 9%, 95% 16%, 98% 19%, 99% 27%, 99% 3%, 96% 45%, 96% 50%, 97% 57%, 97% 61%, 96% 69%, 99% 82%, 95% 88%, 94% 93%, 97% 98%, 82% 99%, 81% 94%, 74% 91%, 61% 96%, 54% 97%, 50% 93%, 35% 99%, 34% 90%, 31% 90%, 15% 94%, 14% 93%, 9% 88%, 1% 90%, 6% 90%, 0% 57%, 2% 45%, 3% 43%, 2% 10%, 9% 20%, 2% 15%, 3% 13%);
}

.context-menu-title {
    position: relative;
    width: 95%;
    margin-top: .3vh;
    /* left: 1.6vw; */
    color: #f5f6fa;
    font-size: 1.4vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.context-menu-desc {
    position: relative;
    width: 95%;
    color: #f5f6fa;
    /* left: 1.3vw; */
    font-size: 1vh;  
    margin-top: .3vh;
    margin-bottom: .3vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.context-menu-items {
    height: fit-content;
    max-height: 55vh;
    width: 17vw;
    left: 1.5vw;
    overflow-x: hidden;
    overflow-y: scroll;
    /* display: flow-root; */
}

.context-item {
    margin-top: .3vh;
    margin-bottom: .3vh; 
}

.context-sub-item {
    top: .2vh;
    height: 3.5vh;
    text-indent: .4vw;
    line-height: 3.5vh;
    color: #f5f6fa;
    font-size: 1.5vh;
    margin-bottom: .4vh;
}

.context-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 101;
}

.context-image > img {
    max-width: 30vh;
    max-height: 23vh;
    border: .3vh solid rgb(29, 29, 29);
    border-radius: .2vh;
}

.close {
    top: .2vh;
    height: 3.5vh;
    text-indent: .4vw;
    line-height: 3.5vh;
    color: #f5f6fa;
    font-size: 1.5vh;
}

.title {
    height: 3.5vh; 
    text-indent: .4vw;
    line-height: 3.5vh;
    color: #f5f6fa;
    font-size: 1.6vh;
    font-weight: 550;
}

.return {
    display: none;
    height: 3.5vh; 
    text-indent: .4vw;
    line-height: 3.5vh;
    color: #f5f6fa;
    font-size: 1.5vh;
    margin-bottom: .1vh;
}

.context-menu-hover:hover, .close:hover, .return:hover {
    background-color: #30475e;
    /* clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 30% 2%, 10% 1%, 30% 5%, 34% 1%, 39% 4%, 43% 5%, 50% 6%, 50% 7%, 53% 3%, 58% 6%, 61% 9%, 68% 4%, 74% 7%, 78% 9%, 84% 5%, 105% 9%, 95% 16%, 98% 19%, 99% 27%, 99% 3%, 96% 45%, 96% 50%, 97% 57%, 97% 61%, 96% 69%, 99% 82%, 95% 88%, 94% 93%, 97% 98%, 82% 99%, 81% 94%, 74% 91%, 61% 96%, 54% 97%, 50% 93%, 35% 99%, 34% 90%, 31% 90%, 15% 94%, 14% 93%, 9% 88%, 1% 90%, 6% 90%, 0% 57%, 2% 45%, 3% 43%, 2% 10%, 9% 20%, 2% 15%, 3% 13%); */

}

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar{
    width: 0vh;
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
}