.main-magazine-container {
    position: absolute; 
    display: none;
    top: 9.3vh; 
    left: 26vh; 
}

.magazine-iframe {
    width: 72vw;
    height: 75vh;
}

.close-button {
    position: absolute;
    top: 0vh;
    right: -3.8vh;
    width: 4vh;
    height: 4vh;
    text-align: center;
    background-color: #4e5565;
    border-bottom-right-radius: 0.2vh;
    border-top-right-radius: 0.2vh;
}

.close-button > i {
    color: white;
    font-size: 2vh;
    line-height: 4vh;
}

.close-button:hover > i {
    color: rgb(190, 190, 190);
}