@font-face { 
    font-family: Newspaper; 
    src: url('./fonts/Newspaper.otf'); 
} 

.main-newspaper-container {
    display: none;
}

.newspaper-container {
    display: none;
}

.newspaper-frame {
    position: absolute;
    pointer-events: none; 
    z-index: -1;
    width: 35vw;
    height: 60vh;
    left: 55vh;
    top: 20vh;
    animation: Spin-Anim linear 0.7s 2 forwards;
}

.newspaper-arrest-title {
    position: absolute;
    top: 60vh;
    left: 65vh;
    font-size: 3.5vh;
    font-weight: 550;
    color: #353535;
    font-family: Newspaper;
}

.recent-arrests {
    position: absolute;
    top: 65vh;
    left: 65vh; 
    height: 5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-weight: 1000;
    color: #353535;
    font-size: 1.3vh;
}

.recent-arrest-card {
    margin-bottom: 0.25vh;
}

.newspaper-article-one {
    position: absolute;
    top: 40vh;
    left: 65vh;
    width: 20vh;
    height: 20vh;
}

.newspaper-article-two {
    position: absolute;
    top: 40vh;
    right: 68vh;
    width: 20vh;
    height: 20vh;
}

.article-title {
    font-size: 3vh;
    font-family: Newspaper;
}

.article-text {
    font-size: 1.2vh;
    font-weight: 450;
}

@keyframes Spin-Anim {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}