@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    user-select: none;
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    /* background-color: black; */
}

.ui-reload {
    position: absolute;
    display: none;
    bottom: 2vh;
    left: 80vh;
    width: 16vh;
    height: 3vh;
    border-radius: 0.2vh;
    background-color: #496a8f;
    line-height: 3vh;
    text-align: center;
    font-size: 1.2vh;
    color: white;
    font-weight: 550;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar{
    width: 0vh;
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: transparent;
}