body {
 font-family: Arial, Helvetica, sans-serif;
 user-select: none;
 overflow: hidden;
}

.bank-inside {
 display: none;
}

.bank-container {
 position: absolute;
 display: none;
 top: 12vh;
 left: 29vh;
 width: 120vh;
 height: 70vh;
 border-radius: .3vh;
 background-color: #222831;
 border: 2px solid rgb(29, 29, 29);
}

.bank-name {
 position: absolute;
 margin-top: .5vh;
 right: 2vh;
 color: #f3f3f3;
 font-size: 2vh;
 font-weight: 550;
}

.my-cash {
 position: absolute;
 top: 67vh;
 left: .8vh;
 color: #f3f3f3;
 font-size: 1.4vh;
 font-weight: 550;
}

.bank-category-name {
 position: absolute;
 left: 1vh;
 top: .5vh;
 color: #f3f3f3;
 font-weight: 550;
 font-size: 1.8vh;
}

.bank-accounts-container {
 position: absolute;
 top: 3vh;
 left: .8vh;
 height: 63vh;
 overflow-y: scroll;
 overflow-x: hidden;
}

.account-card {
 position: relative;
 width: 30vh;
 height: 10vh;
 margin-bottom: 1vh;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
 animation: fadeIn;
 animation-duration: 1.3s;
}

.account-card:hover {
 background-color: #313946;
}

.account-name {
 position: absolute;
 top: .5vh;
 left: .5vh;
 color: #f3f3f3;
 font-size: 1.25vh;
 user-select: text;
}

.account-owner {
 position: absolute;
 top: 4.2vh;
 left: .5vh;
 color: #f3f3f3;
 font-size: 1.25vh;
}

.account-name-name {
 position: absolute;
 top: 2.4vh;
 left: .5vh;
 color: #f3f3f3;
 font-size: 1.25vh;
}

.account-balance {
 position: absolute;
 top: 3vh;
 right: .5vh;
 color: #f3f3f3;
 font-size: 1.25vh;
}

.account-desc {
 position: absolute;
 top: 4.5vh;
 right: .5vh;
 color: #f3f3f3;
 font-size: 1.25vh;
}

.account-man {
 position: absolute;
 top: .75vh;
 right: 2.2vh;
 color: #6e85d1;
 font-size: 1.4vh;
 text-shadow: 1px 1px 0px #00000085;
}

.account-man:hover {
 color: #6e85d1e5;
}

.account-transaction {
 position: absolute;
 top: .54vh;
 right: .5vh;
 color: #498f54;
 font-size: 1.6vh;
 text-shadow: 1px 1px 0px #00000085;
}

.account-transaction:hover {
 color:  #498f53ce;
}

.remove-account {
 position: absolute;
 top: .65vh;
 right: 4vh;
 color: #8f4949;
 font-size: 1.6vh;
 text-shadow: 1px 1px 0px #00000085;
}

.remove-account:hover {
 color: #8f4949d0;
}

.account-button-deposit {
 position: absolute;
 top: 7vh;
 left: .5vh;
 width: 8vh;
 height: 2.3vh;
 border-radius: .2vh;
 background-color: #498f54;
 text-align: center;
 line-height: 2.2vh;
 color: #f3f3f3;
 font-size: 1.25vh;
 font-weight: 550;
}

.account-button-deposit:hover {
 background-color:  #498f53e3;
}

.account-button-withdraw {
 position: absolute;
 top: 7vh;
 left: 11vh;
 width: 8vh;
 height: 2.3vh;
 border-radius: .2vh;
 background-color: #8f4949;
 text-align: center;
 line-height: 2.2vh;
 color: #f3f3f3;
 font-size: 1.25vh;
 font-weight: 550;
}

.account-button-withdraw:hover {
 background-color: #8f4949e1;
}

.account-button-transfer {
 position: absolute;
 top: 7vh;
 left: 21.5vh;
 width: 8vh;
 height: 2.3vh;
 border-radius: .2vh;
 background-color: #6e85d1;
 text-align: center;
 line-height: 2.2vh;
 color: #f3f3f3;
 font-size: 1.2vh;
 font-weight: 550;
}

.account-button-transfer:hover {
 background-color: #6e85d1e5;
}

.bank-category-name-trans {
 position: absolute;
 left: 32vh;
 top: .5vh;
 color: #f3f3f3;
 font-weight: 550;
 font-size: 1.8vh;
}

.account-transaction-container {
 position: absolute;
 top: 3vh;
 left: 32vh;
 width: 70vh;
 height: 63vh;
 overflow-y: scroll;
 overflow-x: hidden;
}

.account-transaction-no {
 width: 100%;
 margin-top: 1vh;
 text-align: center;
 color: #f3f3f3;
 font-weight: 550;
 font-size: 1.8vh;
}

.context-container {
 position: absolute;
 display: none;
 top: 23vh;
 left: 38vh;
 width: 45vh;
 height: 25vh;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
}

.context-title {
 position: absolute;
 top: 1vh;
 width: 100%;
 text-align: center;
 color: #f3f3f3;
 font-weight: 550;
 font-size: 1.8vh;
}

.context-input {
 background: none;
 border: none;
 outline: none;   
 color: #ebebeb;
 font-weight: 550;
 letter-spacing: .1vh;
 width: 23.2vh;

 font-size: 1.5vh;
 border-bottom: 2px solid white;
}

.context-input::-webkit-inner-spin-button {
 display: none;
}

.context-menu {
 position: absolute;
 top: 12vh;
 left: 11vh;
 width: 23.2vh;
 color: white;
 background: none;
 border: none;
 outline: none;  
 font-size: 1.7vh;
 border-bottom: 2px solid white;
 text-indent: 2vh;
}

.context-3-add-container {
 position: absolute;
 display: none;
 top: 27vh;
 width: 45vh;
 height: 5vh;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
}

.context-3-accept {
 position: absolute;
 top: 1.2vh;
 right: 10.5vh;
 width: 8vh;
 height: 3vh;
 background-color: #498f54;
 line-height: 3.2vh;
 text-align: center;
 border-radius: .2vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.1vh;
}

.context-3-cancel {
 position: absolute;
 top: 1.2vh;
 right: 1.5vh;
 width: 8vh;
 height: 3vh;
 background-color: #8f4949;
 line-height: 3.2vh;
 text-align: center;
 border-radius: .2vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.1vh;
}

.context-3-logo {
  position: absolute;
  top: 1.5vh;
  left: 1.2vh;
  font-size: 1.5vh;
  color: #ebebeb;
}

select option {
 background: none;
 border: none;
 outline: none;  
 background-color: #30475e;
}

.name {
 position: absolute;
 top: 6vh;
 left: 11vh;
 text-indent: 2vh;
}

.number {
 position: absolute;
 top: 10vh;
 left: 11vh;
 text-indent: 2vh;
}

.text {
 position: absolute;
 top: 15vh;
 left: 11vh;
 text-indent: 2vh;
}

.bank {
 position: absolute;
 display: none;
 top: 6vh;
 left: 11vh;
 text-indent: 2.3vh;
}

.add-player {
 position: absolute;
 top: 1.5vh;
 left: 1vh;
 text-indent: 2.1vh;
}

.context-logo-paper {
 position: absolute;
 top: 15vh;
 left: 11.2vh;
 color: white;
 font-size: 1.5vh;
}

.context-logo {
 position: absolute;
 top: 10.2vh;
 left: 11.2vh;
 color: white;
 font-size: 1.5vh;
}

.context-logo-bank {
 position: absolute;
 display: none;
 top: 6vh;
 left: 11vh;
 color: white;
 font-size: 1.5vh;
}

.context-1 {
  display: block;
}

.context-2 {
  display: none;
}

.context-3 {
  display: none;
}

.bank-add-account {
 position: absolute;
 top: .5vh;
 left: 29.5vh;
 color: white;
 font-size: 1.5vh;
}

.transactions-clear {
 position: absolute;
 top: .5vh;
 right: 18vh;
 color: white;
 font-size: 1.5vh;
}
 
.bank-add-account:hover, .transactions-clear:hover {
 color: rgba(255, 255, 255, 0.746);
}

.context-button-accept {
 position: absolute;
 top: 20vh;
 right: 10vh;
 width: 11vh;
 height: 3.5vh;
 background-color: #498f54;
 line-height: 3.5vh;
 text-align: center;
 border-radius: .2vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.5vh;
}

.context-button-accept:hover, .context-3-accept:hover {
 background-color: #498f53e3;
}

.context-button-cancel {
 position: absolute;
 top: 20vh;
 left: 11vh;
 width: 11vh;
 height: 3.5vh;
 background-color: #8f4949;
 line-height: 3.5vh;
 text-align: center;
 border-radius: .2vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.5vh;
}

.context-button-cancel:hover, .context-3-cancel:hover {
 background-color: #8f4949e1;
}

.context-3-close {
 position: absolute;
 top: 0.9vh;
 right: 3.5vh;
 color: #8f4949;
 font-weight: 550;
 font-size: 2vh;
 text-shadow: 1px 1px 0px #00000085;
}

.context-3-close:hover  {
  color: #8f4949e1;
}

.context-3-add {
 position: absolute;
 top: 1.1vh;
 right: 1.2vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.5vh;
 text-shadow: 1px 1px 0px #00000085;
}

.context-3-add:hover  {
  color: rgba(255, 255, 255, 0.746);
}

.trnasaction-card {
 position: relative;
 width: 100%;
 height: 9.5vh;
 margin-top: .2vh;
 margin-bottom: .5vh;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
 animation: fadeIn;
 animation-duration: 1.3s;
}

.transaction-card-name {
 position: absolute;
 left: 1vh;
 top: .5vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.5vh;
}

.transaction-card-message {
 position: absolute;
 left: 1vh;
 top: 7vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.2vh;
}

.transaction-reason {
 position: absolute;
 left: 1vh;
 top: 5vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.2vh;
}

.transaction-amount {
 position: absolute;
 left: 1vh;
 top: 2.8vh;
 color: #ebebeb;
 font-weight: 550;
 font-size: 1.2vh;
}

.transaction-logo {
 position: absolute;
 top: 1.5vh;
 right: 4vh;
 color: #ebebeb;
 font-size: 5vh;
 text-shadow: 1px 1px 0px #00000085;
}

.context-players-container {
 position: absolute;
 top: 5vh;
 width: 100%;
 height: 20vh;
 overflow-y: scroll;
 overflow-x: hidden;
}

.player-card {
 width: 100%;
 background-color: #313946;
 border-top: 2px solid rgb(29, 29, 29);
 border-bottom: 2px solid rgb(29, 29, 29);
 height: 3.5vh;
 margin-bottom: .2vh;
}

.player-card-name {
 position: relative;
 top: .9vh;
 left: .5vh;
 color: #ebebeb;
 font-size: 1.4vh;
 font-weight: 550;
}

.player-card-delete {
 position: relative;
 top: -0.7vh;
 left: 42vh;
 color: #8f4949;
 font-size: 1.4vh;
 font-weight: 550;
 text-shadow: 1px 1px 0px #00000085;
}

.player-card-delete:hover {
 color: #8f4949e1;
}

.loading {
 position: absolute;
 display: block;
 top: 1.3vh;
 left: 55vh;
 width: 6vh;
 height: 6vh;
 border: .7vh solid #f3f3f3;
 border-top: .7vh solid #30475e;
 border-radius: 50%;
 animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

::-webkit-scrollbar-track {
 background-color: transparent;
}
  
::-webkit-scrollbar{
 width: 0vh;
 background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
 background-color: transparent;
}

/* Tekst */
/* #f5f6fa; */
/* Achtergronden */
/* #222831;  */
/* #30475e; */

/* #498f54;
#8f4949; */