@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
 font-family: 'Lato';
 user-select: none;
 overflow: hidden;
}

.main-taxi-container {
 position: absolute;
 display: none;
 bottom: -25vh;
 right: 2vh;
}

.taxi-meter {
 width: 45vh;
 height: 22.3vh;
}

.total-price {
 position: absolute;
 top: 4.1vh;
 right: 8vh;
 float: right;
 color: rgb(64, 160, 64);
 font-weight: bold;
 letter-spacing: 0.1vh;
 font-size: 4.9vh;
}

.total-price-label {
 position: absolute;
 top: 3.6vh;
 right: 8vh;
 color: rgba(255, 255, 255, 0.75);
 font-weight: lighter;
 font-size: 1.1vh;
 letter-spacing: 0.1vh;
}

.total-distance {
 position: absolute;
 top: 12.5vh;
 right: 8vh;
 float: right;
 color: rgb(255, 153, 57);
 font-family: 'Lato';
 font-weight: bold;
 letter-spacing: 0.1vh;
 font-size: 4.1vh;
}

.total-distance-label {
 position: absolute;
 top: 11.5vh;
 right: 8vh;
 color: rgba(255, 255, 255, 0.75);
 font-family: 'Lato';
 font-weight: lighter;
 font-size: 1.1vh;
 letter-spacing: 0.1vh;
}

.total-price-100 {
 position: absolute;
 top: 12.5vh;
 right: 25vh;
 float: right;
 color: rgb(56, 143, 243);
 font-family: 'Lato';
 font-weight: bold;
 letter-spacing: 0.1vh;
 font-size: 4.1vh;
}

.total-price-100-label {
 position: absolute;
 top: 11.5vh;
 right: 25vh;
 color: rgba(255, 255, 255, 0.75);
 font-family: 'Lato';
 font-weight: lighter;
 font-size: 1.1vh;
 letter-spacing: 0.1vh;
}

.meter-button {
 position: absolute;
 top: 4.2vh;
 left: 4.5vh;

 font-size: 5vh;
 color: rgb(231, 30, 37);
}

/* rgb(51, 160, 37) */

/* <i class="fas fa-power-off"></i> */