body {
    overflow: hidden;
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000000;
    width: 4.4vh;
    height: 2.5vw;
}

#target-label-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    left: 87.0vh;
    width: fit-content;
    height: 100%;
    top: 51.85%;
}

#target-label {
    list-style: none;
    font-size: 1.3vh;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    user-select: none;
    white-space: nowrap;
    text-shadow: 0.2vh 0.2vh 0.2vh #000000;
    font-weight: 600;
    font-variant-caps: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}