@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

body {
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.logo {
    position: absolute;
    width: 100%;
    top: 35%;
}