.main-notify-container {
    position: absolute;
    top: 2vh;
    right: 30vh;
    width: 55vh;
    height: 15vh;
}

.notify {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 1.2vh;
    font-weight: 600;
    color: white;
    padding: 1vh;
    float: left;
    border-radius: .4vh;
    margin-bottom: .5vh;
    margin-right: .5vh;
    letter-spacing: .1vh;
}

.green {
    background-color: rgb(45, 185, 98);
}

.red {
    background-color: rgb(204, 51, 51);
}

.orange {
    background-color: rgb(207, 146, 65);
}

.blue {
    background-color: rgb(51, 143, 204);
}