
body {
 user-select: none;
 overflow-x: hidden;
 overflow-y: hidden;
 font-family: Arial, Helvetica, sans-serif;
}

.main-map-container {
 position: absolute;
 display: none;
 top: 8vh;
 left: 13vh;
}

.spawn-dots-container, .appartment-dot-container, .jail-dot-container, .last-location-container {
  display: none;
}

.last-location-container {
 position: absolute;
 top: 79.5vh;
 left: 20vh;
}

.last-location-button {
 width: fit-content;
 height: fit-content;
 padding: 1vh;
 font-size: 1.4vh;
 font-weight: 600;
 color: white;
 border-radius: .4vh;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
}

.last-location-button:hover, .house-button:hover {
  background-color: #30475eda;
}

.houses-container {
 position: absolute;
 display: none;
 top: 54vh;
 left: 1vh;
 width: 20vh;
 height: 30vh;
 overflow-y: scroll;
 overflow-x: hidden;
}

.house-button {
 position: relative;
 width: 80%;
 height: 1.5vh;
 padding: 1vh;
 font-size: 1.4vh;
 font-weight: 600;
 color: white;
 border-radius: .4vh;
 margin-bottom: .5vh;
 text-align: center;
 background-color: #30475e;
 border: 2px solid rgb(29, 29, 29);
}

.map {
 border-radius: .2vh;
 width: 150vh;
 height: 85vh;
 z-index: -1;
 border: 2px solid rgb(29, 29, 29);
}

.spawn-dot > i {
 font-size: 1.6vh;
 text-shadow: 2px 2px 1px #000000;
}

.dot-1 {
 position: absolute;
 left: 104.7vh;
 top: 49.5vh;
 color: rgb(182, 49, 49);
}

.dot-2 {
 position: absolute;
 left: 103vh;
 top: 41.5vh;
 color: rgb(182, 49, 49);
}

.dot-3 {
 position: absolute;
 left: 98.5vh;
 top: 43.2vh;
 color: rgb(182, 49, 49);
}

.dot-4 {
 position: absolute;
 left: 57.8vh;
 top: 26vh;
 color: rgb(182, 49, 49);
}

.dot-5 {
 position: absolute;
 left: 34.5vh;
 top: 50.5vh;
 color: rgb(182, 49, 49);
}

.appartment-1 {
 position: absolute;
 left: 106vh;
 top: 49vh;
 color: rgb(238, 234, 0);
}

.jail-1 {
 position: absolute;
 left: 69.6vh;
 top: 29.5vh;
 color: rgb(96, 245, 96);
}

.spawn-text {
 display: none;
 position: absolute;
 pointer-events: none;
 top: 0;
 left: 0;
 z-index: 101;
 font-size: 1.4vh;
 font-weight: 600;
 color: white;
 width: fit-content;
 height: fit-content;
 padding: 1vh;
 background-color: #30475e;
 border-radius: .4vh;
 border: 2px solid rgb(29, 29, 29);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}