:root {
    --block-color: #394D61;
    --bg-color: #16181C;
}

.main-blocks-container {
    position: absolute;
    display: none;
    top: 20vh;
    left: 65vh;
}

div.grid{
    margin: 20px auto;
    width: 700px;
    height: 700px;
    background: #2D3139;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-temaplte-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.grid.won .block{
    background: #2a8040;
}

.grid.lost .block{
    background: #F22300;
}

.block{
    background: #394D61;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.block.show,.block.correct{
    background: #bfbfbf;
}
.block.incorrect{
    background: #F22300;
}

.grid.lost .show.block {
    background: #6d9070;
}

.grid.lost .block {
    background: #bd5151;
}

.grid.lost .block.clicked.incorrect {
    background: #F22300;
}

.grid.lost .block.clicked.correct {
    background: #bfbfbf;
}