.main-police-tablet {
    display: none;
}

.tablet-bg {
    position: absolute;
    top: 12.3vh; 
    left: 25vh; 
    width: 72vw;
    height: 75vh;
    background-color: white;
}

.tablet-iframe {
    position: absolute; 
    top: 12.3vh; 
    left: 0.35vh; 
    right: 0; 
    width: 72vw;
    height: 75vh;
    margin: 0 auto; 
}

.tablet-frame {
    position: absolute; 
    top: 5.5vh; 
    left: 0; 
    right: 0; 
    margin: 0 auto; 
    pointer-events: none; 
    width:80vw;
    height:89vh;
}

.main-police-scanner {
    position: absolute;
    display: none;
    left: 64vh;
    top: 15vh;
}

.scanner-text {
    position: absolute;
    top: 20vh;
    left: 21vh;
    font-size: 1.5vh;
    font-weight: 600;
}

.scanner-id {
    position: absolute;
    line-height: 5vh;
    user-select: text;
    left: -2vh;
}

.scanner-frame {
    width: 50vh;
    height: 63vh;
}

.scanner-button {
    position: absolute;
    top: 41vh;
    left: 20.5vh;
    height: 10vh;
    width: 9vh;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: .4vh;
}

.scanner-button:hover {
    background-color: rgba(255, 255, 255, 0.40);
}